<h1 class="title">Field Agent Invitation </h1>
<p class="text"> <b>Hello, {{name}}</b></p>
<br/>
<p><b> Kindly download the CHATS Field Agent application and login with this password - {{password}}</b> </p>
<br/>
<p class="text"> <b> Best,</b></p>
<p class="text"> <b>CHATS - Convexity</b></p>
