<h1 class="title">Your Account Is Approved </h1>
<p class="text"><b>Congratulations {{orgName}}</b></p>
<p><b>Your Account has been approved be CHATS Admin, 
    This means you can start creating Projects on the CHATS Platform.
    If you have any questions, please contact us via the contact form on your dashboard.</b></p>
<p>
    <b>If you have any questions, please contact us via the contact form on your dashboard.</b></p>
<br/>
<a class="btn-link" href="https://chats.cash/"> Click here</a>
<br/>
<p class="text"> <b> Best,</b></p>
<p class="text"> <b>CHATS - Convexity</b></p>
