<h1 class="title">Your CHATS Password Reset Token </h1>
<p class="text">Hello, {{name}}</p>
<br/>
<p>Your CHATS password reset token is: {{otp}} and ref is {{ref}} </p>
<br/>
<p class="text"> Best,CHATS - Convexity</p>
