<h1 class="title">Your CHATS Password Reset Token </h1>
<p class="text"><b>Hello, {{name}}</b></p>
<br/>
<p><b>Your CHATS password reset token is: {{otp}} and ref is {{ref}}</b> </p>
<br/>
<p class="text"> <b> Best,</b></p>
<p class="text"> <b>CHATS - Convexity</b></p>
