<h1 class="title">Recharge Your SMS Wallet Balance </h1>
<p class="text">Hello Admin</p>
<br/>
<p>This is to inform you that your SMS service balance is running low. 
    Current balance is {{amount}}. Please recharge your account. </p>
<br/>
<br/>
<p class="text"> Best,CHATS - Convexity</p> 
