<h1 class="title">Recharge Your ID Pass Wallet Balance </h1>
<p class="text">Hello Admin</p>
<p>This is to inform you that your ID Pass service balance is running low. 
    Current balance is {{amount}}. Please recharge your account. </p>
<br/>
<p class="text"> Best,CHATS - Convexity</p>
