<h1 class="title">Your Account Confirmation </h1>
<p class="text">Hello {{orgName}}</p>
<br/>
<p>Thank you for  creating an account on CHATS platform. 
    Please confirm your email by clicking on the following link</p>
<a class="btn-link" href="{{url}}"> Click here</a>
<br/>
<p class="text"> Best,CHATS - Convexity</p>
