<h1 class="title">Your CHATS SMS Voucher Token </h1>
<p class="text"><b>Hello, {{name}}</b></p>
<br/>
<p><b>Your CHATS SMS voucher token is: {{smsToken}} </b></p>
<br/>
<p class="text"> <b> Best,</b></p>
<p class="text"> <b>CHATS - Convexity</b></p>
