<h1 class="title">Recharge Your ID Pass Wallet Balance </h1>
<p class="text"><b>Hello Admin</b></p>
<p><b>This is to inform you that your ID Pass service balance is running low. 
    Current balance is {{amount}}. Please recharge your account. </b></p>
<br/>
<p class="text"> <b> Best,</b></p>
<p class="text"> <b>CHATS - Convexity</b></p>
