<h1 class="title">Your Donor Invitation </h1>
<p class="text">Hello, {{name}}</p>
<br/>
<p>Your CHATS account ID is: {{vendor_id}} and ref is {{password}} </p>
<br/>
<p class="text"> Best,CHATS - Convexity</p>
