<h1 class="title">Your Donor Invitation </h1>
<p class="text"> <b>Hello, {{name}}</b></p>
<br/>
<p><b> CHATS account ID is: {{vendor_id}} and ref is {{password}}</b> </p>
<br/>
<p class="text"> <b> Best,</b></p>
<p class="text"> <b>CHATS - Convexity</b></p>
